@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /*擴充專案的全站樣式*/
  body {
    margin: 0;
    font-family: 'Roboto', 'Noto Sans TC', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a:hover, svg:hover, button:hover {
    opacity: 0.9;
  }
}

@layer components {
  /*自組元件*/
  .delOneImg {
    @apply border-4 border-red-400 p-1 mb-1;
  }
}

@layer utilities {
  /*自組樣式*/
}